APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=your_project_id
APPWRITE_API_KEY=your_server_api_key
APPWRITE_ADMIN_LABEL=admin
APPWRITE_DB_ID=mazex_data
APPWRITE_COLLECTION_RESOURCES=resources
APPWRITE_TABLE_SPONSORS=sponsors
APPWRITE_COLLECTION_REGISTRATION_FORMS=registration_forms
APPWRITE_COLLECTION_REGISTRATION_FIELDS=registration_fields
APPWRITE_COLLECTION_REGISTRATION_SUBMISSIONS=registration_submissions
APPWRITE_BUCKET_SPONSORS=sponsor_assets
APPWRITE_BUCKET_FORM_BANNERS=form_banners
APPWRITE_BUCKET_REGISTRATION_FILES=registration_files
